{% extends 'admin_page_template.html' %}


{% block content %}
<style>
  .text-overflow {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

{% if messages %}
<ul class="messages p-0">
  {% for message in messages %}

  {% if message.tags == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif message.tags == 'error' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  {% endfor %}
</ul>
{% endif %}

<h1 class="my-3 text-center">Daftar Mahasiswa</h1>


<div class="row justify-content-end mt-4 mb-4">
  <div class="col">
    <a href="{% url 'mahasiswa:tambah' %}" class="btn btn-primary">Tambah Mahasiswa</a>
  </div>
</div>



<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Npm</th>
            <th scope="col">Nama</th>
            <th scope="col">Status</th>
            <th scope="col">Hasil CekPlag</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          {% for mahasiswa in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <div class="text-overflow">{{ mahasiswa.npm }}</div>
            </td>

            <td>
              <div class="text-overflow">{{ mahasiswa.nama }}</div>
            </td>
            <td>
              <div class="text-overflow">
                {% if not mahasiswa.skripsi %}
                Belum Upload
                {% elif mahasiswa.skripsi.reportplagiarism.plagiarism_percentage or mahasiswa.skripsi.reportplagiarism.plagiarism_percentage == 0 %}
                {{ mahasiswa.skripsi.reportplagiarism.plagiarism_percentage }}% plagiat
                {% else %}
                Belum Checking
                {% endif %}
              </div>


            </td>
            <td>
              Belum Ada

            </td>

            <td class="d-flex">
              <div style="min-width: 230px;">
                <form action="{% url 'mahasiswa:profile' mahasiswa.npm %}" method="get" class="d-inline-block">
                  {% csrf_token %}
                  <button type="submit" class="btn-sm btn-info text-decoration-none me-2"
                    style="border: 0; outline:0;"><i class="fas fa-eye"></i> View</button>
                </form>
                <!-- <form action="{% url 'plagiarisme:cek_plagiarisme' mahasiswa.npm %}" method="get"
                  class="d-inline-block">
                  {% csrf_token %}
                  <button type="submit" class="btn-sm btn-warning text-decoration-none me-2"
                    style="border: 0; outline:0;"><span class="iconify" style="margin-top: -2px;"
                      data-icon="ic:baseline-plagiarism" data-width="16" data-height="16"></span>
                    Check</button>
                </form> -->

                <form action="{% url 'mahasiswa:hapus' mahasiswa.npm %}" method="get" class="d-inline-block">
                  {% csrf_token %}
                  <button type="submit" onclick="return confirm('yakin ingin menghapus data ini?')"
                    class="btn-sm btn-danger" style="border: 0; outline:0;"><i class="fas fa-times"></i> Hapus</button>
                </form>
              </div>

            </td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>

  </div>
</div>
<script>

</script>
{% endblock content %}