{% extends 'admin_page_template.html' %}


{% block content %}



<div class="row justify-content-center">
  <div class="col-sm-8 col-lg-6">

    {% if messages %}
    <ul class="messages p-0 text-center">
      {% for message in messages %}

      {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == 'error' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}

      {% endfor %}
    </ul>
    {% endif %}

    <div class="card shadow-lg">
      <h4 class="card-header text-center">Ubah Password Akun</h4>
      <div class="card-body">

        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="password" class="form-label">Password Baru</label>
            <input type="password" class="form-control" id="password" name="password"
              placeholder="Masukan Password Baru..." required>
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
              placeholder="Masukan Confirm Password..." required>
          </div>

          <button class="btn btn-primary">Ubah Password</button>
        </form>



      </div>
    </div>
  </div>
</div>
{% endblock content %}