{% extends 'auth/login_template.html' %}


{% block content %}
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            {% if messages %}
            <ul class="messages p-0 mt-2">
              {% for message in messages %}

              {% if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.tags == 'error' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p class="text-center">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% else %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p class="text-center">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

              {% endfor %}
            </ul>
            {% endif %}
            <div class="card shadow-lg border-0 rounded-lg mt-4">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Login Admin</h3>
              </div>
              <div class="card-body">
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-floating mb-3">
                    <input class="form-control" id="username" name="username" type="text" placeholder="Masukan Username"
                      required />
                    <label for="username">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" name="password" id="inputPassword" type="password"
                      placeholder="password..." min="3" required />
                    <label for="inputPassword">Password</label>
                  </div>

                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </form>

                <a href="/" class="mt-5 d-block">&laquo; Back to Home</a>
              </div>


            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <!-- <div class="d-flex align-items-center justify-content-between small"> -->
        <div class="text-muted text-center">Copyright &copy; Plagiarism Checker</div>
        <!-- <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div> -->
        <!-- </div> -->
      </div>
    </footer>
  </div>
</div>
{% endblock content %}