{% extends 'admin_page_template.html' %}


{% block content %}
<style>
  .text-overflow {
    display: block;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% if messages %}
<ul class="messages p-0">
  {% for message in messages %}

  {% if message.tags == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif message.tags == 'error' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  {% endfor %}
</ul>
{% endif %}

<h1 class="text-center">Daftar Data Training</h1>

<a href="{% url 'administrator:tambah_data_training' %}" class="btn btn-primary my-4">Tambah Data Training</a>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Judul</th>
          <th scope="col">Penulis</th>
          <th scope="col">Tahun</th>
          <th scope="col">file</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>

        {% for data_training in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <div class="text-overflow" title="{{ data_training.judul }}">{{ data_training.judul }}</div>
          </td>
          <td title="{{ data_training.penulis }}">
            <div class="text-overflow">{{ data_training.penulis }}</div>
          </td>

          <td>{{ data_training.tahun }}</td>
          <td>
            <a href="/media/{{ data_training.file }}" class="text-overflow"
              title="{{data_training.file}}">{{ data_training.file }}</a>

          </td>
          <td>
            <form action="{% url 'administrator:ubah_data_training' data_training.id %}" method="get"
              class="d-inline-block">
              {% csrf_token %}
              <button type="submit" class="btn-sm btn-warning" style="border: 0; outline:0;" title="edit data"><i
                  class="fas fa-edit"></i></button>
            </form>
            <form action="{% url 'administrator:hapus_data_training' data_training.id %}" method="post"
              class="d-inline-block">
              {% csrf_token %}
              <button type="submit" onclick="return confirm('yakin ingin menghapus data ini?')"
                class="btn-sm btn-danger" style="border: 0; outline:0;" title="hapus data"><i
                  class="fas fa-trash"></i></button>
            </form>
          </td>

        </tr>
        {% endfor %}



      </tbody>
    </table>
  </div>
</div>







{% endblock content %}