{% extends 'admin_page_template.html' %}


{% block content %}
<h1 class="text-center my-3">Profile Admin</h1>


<div class="row justify-content-center">
  <div class="col-sm-8 col-lg-6">
    {% if messages %}
    <ul class="messages p-0 text-center">
      {% for message in messages %}

      {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == 'error' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}

      {% endfor %}
    </ul>
    {% endif %}
    <div class="card shadow-lg">
      <h4 class="card-header text-center">Your Profile</h4>
      <div class="card-body">
        <a href="{% url 'administrator:ubah_profile' request.session.username %}"
          class="btn-sm btn-warning text-decoration-none me-2"><i class="fas fa-edit"></i> Edit Profile</a>
        <div class="d-flex justify-content-center mb-3">
          <img src="/media/user.png" class="img-thumbnail" alt="profile" width="200px">
        </div>

        <div class="mb-3">
          <h5 class="form-label text-center">Username</h5>
          <input type="text" class="form-control text-center w-75 mx-auto" value="{{ profile.username }}" disabled>
        </div>

        <div class="mb-3">
          <h5 class="form-label text-center">Nama</h5>
          <input type="text" class="form-control text-center w-75 mx-auto" value="{{ profile.nama }}" disabled>
        </div>

        <div class="mb-3">
          <h5 class="form-label text-center">Email</h5>
          <input type="text" class="form-control text-center w-75 mx-auto" value="{{ profile.email }}" disabled>
        </div>
        <div class="mb-3">
          <h5 class="form-label text-center">Nomor Telephone</h5>
          <input type="text" class="form-control text-center w-75 mx-auto" value="{{ profile.no_telp }}" disabled>
        </div>



      </div>
    </div>
  </div>
</div>

<!-- <div class="row my-4">
  <div class="col">
    <img src="/media/user.png" alt="profile" width="300" height="300">
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="row mb-3">
      <label for="username" class="col-sm-1 col-form-label">Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="username" value="{{ admin.username }}" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" value="{{ admin.email }}" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="no_telp" class="col-sm-1 col-form-label">No. Telp</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="no_telp" value="{{ admin.no_telp }}" disabled>
      </div>
    </div>
  </div>
</div> -->
{% endblock content %}