{% extends 'admin_page_template.html' %}


{% block content %}



<div class="row justify-content-center">
  <div class="col-sm-8 col-lg-6">

    {% if messages %}
    <ul class="messages p-0 text-center">
      {% for message in messages %}

      {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.tags == 'error' %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}

      {% endfor %}
    </ul>
    {% endif %}

    <div class="card shadow-lg">
      <h4 class="card-header text-center">Ubah Profile Akun</h4>
      <div class="card-body">

        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" value="{{ admin.nama }}"
              placeholder="Masukan Nama..." required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ admin.email }}"
              placeholder="Masukan Email..." required>
          </div>
          <div class="mb-3">
            <label for="no_telp" class="form-label">Nomor Telephone</label>
            <input type="number" class="form-control" id="no_telp" name="no_telp" value="{{ admin.no_telp }}"
              placeholder="Masukan no_telp..." required>
          </div>

          <button class="btn btn-primary">Ubah Profile</button>
        </form>



      </div>
    </div>
  </div>
</div>
{% endblock content %}